<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>

    <div class="container">
        <h1 class="title">FAQ</h1>
    
        <div class="creation-instructions">
            <h3>How to create a quiz:</h3>
            <ol>
                <li>Fill in the quiz title and description</li>
                <li>Add questions using the "Add Question" button</li>
                <li>For each question, add at least 2 answer options</li>
                <li>Mark correct answers by checking the "Correct" box</li>
                <li>Set time limits for each question (5-120 seconds)</li>
            </ol>
        </div>
</body>
</html>